.label-box {
  border: 1px solid #d8d6de;

  padding: 0.188rem 0.857rem;
  border-radius: 0.357rem;
  //   color: rgb(56, 56, 56);
  font-weight: 500;
  margin-bottom: 0rem;
  font-size: 0.857rem;
  // line-height: 1;
  min-height: 2rem;
}
