.option-select {
  .btn-action {
    .btn-secondary {
      background-color: #dddddf !important;
      width: 100%;
      border: none;
      border-radius: 0%;
      color: rgb(8, 6, 6) !important;
    }
  }
}
